<div class="container">
  <div class="modal-header">
    <h4 class="modal-title">Uczeń {{ student?.name }} (id: {{ id }})</h4>
    <button type="button" class="btn btn-outline-dark close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true"><i class="bi bi-x"></i></span>
</button>
  </div>
  <div class="modal-body">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Imię: </label>
        <input id="name" class="form-control" type="text" value="{{ student?.name }}" formControlName="name">
      </div>

      <div class="form-group">
        <label for="surname">Nazwisko: </label>
        <input id="surname" class="form-control" type="text" formControlName="surname">
      </div>



      <div class="form-group">
        <label for="exampleFormControlSelect1">Klasa</label>
        <select class="form-control" id="class" formControlName="class">
    <option>1A</option>
    <option>2B</option>
    <option>3D</option>
  </select>
      </div>

      <div class="form-group">
        <label for="grade">Ocena: </label>
        <input  class="form-control" id="grade"type="text" formControlName="grade">
      </div>

      <p>Wypełnij wszystkie pola</p>
      <button class="btn" [ngClass]="{'btn-danger': !studentForm.valid, 'btn-success': studentForm.valid}" type="submit" [disabled]="!studentForm.valid">Zapisz</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Zamknij</button>
  </div>


</div>